<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString"
            connectionString="Data Source=LAPTOP-5RBD5KSJ;Initial Catalog=QLDVRESORT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString1"
            connectionString="Data Source=LAPTOP-5RBD5KSJ;Initial Catalog=QLDVRESORT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString2"
            connectionString="Data Source=LAPTOP-5RBD5KSJ;Initial Catalog=QLDVRESORT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString3"
            connectionString="Data Source=LAPTOP-5RBD5KSJ;Initial Catalog=QLDVRESORT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>